/* Name: Chanputhi TITH 
DEAKIN SIT313
Task 4.1P: Home Page */


/* Cover all Footer Part */
.footer {
    background-color: #f5f5f5;
    padding: 20px;
}


/* Row for Explore, Support and  Stay Connected */
.row {
    display: flex;
    margin: 20px;
    margin-top: 30px;
}

/* Each links inside each component */
.column {
    flex: 30%;
    padding: 10px;
    margin: 10px;
}

.column a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* A link for  Stay Connected part: Facebook, Twitter, Instagram */

.column a img {
    display: inline;
    width: 15%;
    /* height: 50%; */
}




/* The Bottom Part */
.bottomFooter {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    /* background-color: #f2f2f2; */
}

.bottomFooter a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}