
.planDiv h2 {

    /* font-weight: bold; */

    text-align: center;
}

.row {
    display: flex;
    margin: 20px;
    margin-top: 30px;
}

.planCard {
    flex: 30%;
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;

    text-align: center;
}

.subscribeButton {
    margin-top: 15px;

    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #f0f0f0;
}


.planSuccessCancel {
    text-align: center;

}